*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 1.7; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8.875rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }

.cats {
  grid-column: center-start/ center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  grid-gap: 4rem; }

.cat {
  background-color: #fcf9f3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem; }
  .cat__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1; }
  .cat__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 2;
    width: 80%;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    background-color: #3b2212;
    color: #f5e8e0;
    font-weight: 400;
    transform: translateY(50%); }
  .cat__origin, .cat__size {
    margin-top: 1.5rem; }
  .cat__origin, .cat__size, .cat__color, .cat__cfa {
    margin-left: 1rem;
    display: flex;
    align-items: center; }
  .cat__btn {
    grid-column: 1 / -1; }

.favorites {
  background-color: #ff6b6b;
  grid-column: col-start 7 / full-end; }

.features-container {
  grid-column: center-start / center-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 3rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1rem; }
  .feature__icon {
    width: 3rem;
    height: 3rem;
    grid-row: 1 / span 2;
    transform: translateY(-0.6rem); }
  .feature__text {
    font-size: 1.2rem; }

.footer {
  background-color: #ff6b6b;
  grid-column: full-start / full-end; }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 1rem;
  padding: 1rem; }
  .gallery__item--1 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 4 / span 2; }
  .gallery__item--5 {
    grid-row: 1 / span 4;
    grid-column: 6 / span 3; }
  .gallery__item--6 {
    grid-row: 7 /  span 3;
    grid-column: 5 / span 2; }
  .gallery__item--7 {
    grid-row: 5 / span 2;
    grid-column: 6 / 6; }
  .gallery__item--8 {
    grid-row: 4 / span 5;
    grid-column: 3 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 4; }
  .gallery__item--10 {
    grid-row: 8 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--11 {
    grid-row: 4 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--12 {
    grid-column: 3 / span 2; }
  .gallery__item--13 {
    grid-row: 8 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--14 {
    grid-row: 5 / span 3;
    grid-column: 7 / span 2; }
  .gallery__item--15 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 2; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.header {
  background-color: #3b2212;
  grid-column: full-start / col-end 6; }

.sidebar {
  background-color: #3b2212;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.story__pictures {
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  align-items: center; }

.story__img--1 {
  width: 100%;
  grid-row: 1 / span 4;
  grid-column: 1 / span 4;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.story__img--2 {
  width: 115%;
  grid-row: 3 / 5;
  grid-column: 3 / 5;
  z-index: 10;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.story__content {
  grid-column: col-start 5 / full-end;
  padding: 6vw 8vw;
  display: grid;
  align-items: center;
  justify-items: start; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Merriweather", serif;
  font-weight: 700; }

.heading-2 {
  font-size: 2rem; }
  .heading-2--light {
    color: #f5e8e0; }
  .heading-2--dark {
    color: #333333; }

.heading-3 {
  font-size: 1.2rem;
  color: #ff6b6b;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.1rem; }
  .heading-4--light {
    color: #f5e8e0; }
  .heading-4--dark {
    color: #333333; }

.btn {
  background-color: #ff6b6b;
  color: #f5e8e0;
  border: none;
  border-radius: 1%;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #ff5252; }

.mb-small {
  margin-bottom: 1rem; }

.mb-medium {
  margin-bottom: 2rem; }

.mb-large {
  margin-bottom: 3rem; }

.mb-huge {
  margin-bottom: 4rem; }
